@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/*******************
VARIABLES
********************/

:root {
  --title-font: 'MedievalSharp', cursive;
  --page-font: 'Roboto', sans-serif;
  --bg-page: #e4e4e4;
  --bg-nav: #444444;
  --white: #eeeeee;
  --black: #1b1b1b;
  --light-black: #313131;
  --accent: #0404b9;

  --large-screen: 1025px;
  --medium-screen: 770px;
  --small-screen: 450px;

}

/***************** 
RESETS 
******************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-color: var(--bg-page);
  font-family: var(--page-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

a:link,
a:visited {
  color: blue;
  text-decoration: none;
}

/*************************
UTILITIES 
*************************/

a.btn,
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.btn:hover {
  background-color: var(--bg-nav);
}


.sub-title {
  font-size: 3.2rem;
  margin-bottom: 1.2rem;
}

@media screen and (max-width: 1025px) {
  .sub-title {
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 770px) {
  .sub-title {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 480px) {
  .sub-title {
    font-size: 2rem;
  }
}

.bold {
  font-weight: 700;
}

.hidden {
  display: none;
}

/*********************************************
LOADING SPINNER STYLES FOR ALL PAGES
*********************************************/
#search-page .loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 400px;
}

.loader {
  width: 20em;
  height: 20em;
  font-size: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader .face {
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  animation: animate 3s linear infinite;
}

.loader .face:nth-child(1) {
  width: 100%;
  height: 100%;
  color: var(--black);
  border-color: currentColor transparent transparent currentColor;
  border-width: 0.2em 0.2em 0em 0em;
  --deg: -45deg;
  animation-direction: normal;
}

.loader .face:nth-child(2) {
  width: 70%;
  height: 70%;
  color: var(--accent);
  border-color: currentColor currentColor transparent transparent;
  border-width: 0.2em 0em 0em 0.2em;
  --deg: -135deg;
  animation-direction: reverse;
}

.loader .face .circle {
  position: absolute;
  width: 50%;
  height: 0.1em;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: rotate(var(--deg));
  transform-origin: left;
}

.loader .face .circle::before {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  content: '';
  width: 1em;
  height: 1em;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 2em,
              0 0 4em,
              0 0 6em,
              0 0 8em,
              0 0 10em,
              0 0 0 0.5em rgba(255, 255, 0, 0.1);
}

@keyframes animate {
  to {
      transform: rotate(1turn);
  }
}

/*************************
SITE LAYOUT
*************************/
.page-grid {
  display: grid;
  /* ADD THIS BACK IF ADD THE ASIDE BACK IN */
  /* grid-template-columns: min-content 1fr min-content; */
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  min-height: 100vh;
  position: relative;
}

.header {
  grid-column: 2/-1;
  align-self: baseline;
}

.nav-container {
  grid-row: 1/3;
}

.main {
  grid-row: 2/-1;
  grid-column: 2/3;
}

.aside {
  border: 1px solid blue;
  grid-row: 2/3;
  grid-column: 3/4;
}

/*************************
COMPONENT STYLES
*************************/

/* HEADER */
.header {
  padding-left: 2rem;
  background-color: var(--bg-page);
  position: relative;
  /* height: 10rem; */
}

.header h1 {
  font-size: 5rem;
  padding: 2rem 0;
}

.header figure {
  display: none;
}

/* MEDIUM SCREENS */
@media screen and (max-width: 770px) {
  .header {
    background-color: var(--bg-nav);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header h1 {
    font-size: 3.5rem;
    color: var(--white);
  }

  .header figure {
    display: block;
    width: 75px;
    align-self: center;
    margin-bottom: 0;
    cursor: pointer;
  }
}

/* SMALL SCREENS */
@media screen and (max-width: 480px) {
  .header h1  {
    font-size: 2.5rem;
    font-weight: 400;
  }

  .header figure {
    width: 60px;
  }
}

/* NAV */
.nav-container {
  padding: 1rem;
  background-color: var(--bg-nav);
  height: 100%;
}

@media screen and (max-width: 770px) {
  .nav-container {
    position: fixed;
    top: 75px;
    left: 0;
    width: 150px;
    transform: translateX(-100%);
    z-index: 1000;
    transition: transform 0.3s ease-in;
  }
  .slide {
    transform: translateX(0%);
  }
}

figure {
  margin-bottom: 3rem;
}

@media screen and (max-width: 770px) {
  figure {
    display: none;
  }
}

.main-nav {
  padding: 2rem 1rem 0 2rem;
  text-align: right;
}

.main-nav a:link,
.main-nav a:visited {
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  color: var(--white);
  transition: all .2s ease-in-out;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.nav-item {
  border-bottom: 2px solid transparent;
  transition: all .2s ease-in-out;
  padding-left: 1rem;
  width: 100%;
}

.nav-item:hover {
  border-bottom: 2px solid black;
}

/************************
SEARCH FORMS
**************************/

form {
  position: relative;
  margin-bottom: 1.5rem;
}

.input {
  width: 100%;
  padding: 1rem;
}

.search-submit {
  background-color: var(--black);
  color: var(--white);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.search-submit:hover {
  background-color: var(--bg-nav);
}


/* STYLES FOR DISPLAYING MTG CARDS FROM THE DATABASE */
.results-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 275px));
  gap: 5rem;
}

@media screen and (max-width: 1024px) {
  .results-grid {
      grid-template-columns: repeat(auto-fit, minmax(10px, 225px));
  }
}

@media screen and (max-width: 770px) {
  .results-grid {
      grid-template-columns: repeat(auto-fit, minmax(10px, 175px));
  }
}

@media screen and (max-width: 480px) {
  .results-grid {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin: 0 auto;
  }
}

.card-info-container {
  background-color: var(--white);
  border-radius: 5px;
  padding-bottom: 2rem;
}

.card-image {
  width: 100%;
}

.card-text {
  padding: 1.5rem;
}

.card-name {
  font-size: 1.4rem;
  margin-bottom: .5rem;
}

.card-text p {
  margin-bottom: .5rem;
  font-size: 1.4rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.message {
  background-color: rgb(172, 9, 9);
  color: var(--white);
  padding: .5rem;
}

.card-info-container button {
  display: block;
  margin: 0 auto;
}




