<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/main.css" type="text/css" />
    <link rel="stylesheet" href="index.css" type="text/css" />
    <script src="https://kit.fontawesome.com/af77942d5c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
    <title>MTG Collection</title>
  </head>
  <body>
    <!-- GRID FOR THE LAYOUT OF THE PAGE -->
    <div class="page-grid">
      <header class="header">
        <h1>Legendary MTG Collection</h1>
        <figure>
          <img src="../../images/logos/mtg-logo.png" alt="Magic: The Gathering Logo" />
        </figure>
      </header>

      <div class="nav-container">
        <figure>
          <img src="../../images/logos/mtg-logo.png" alt="Magic: The Gathering Logo" />
        </figure>
        <nav class="main-nav">
          <ul class="nav-list">
            <li class="nav-item"><a href="/views/dashboard/">Dashboard</a></li>
            <li class="nav-item"><a href="/views/search" id="search-link">Search</a></li>
            <li class="nav-item"><a href="/views/collection">Collection</a></li>
            <li class="nav-item"><a href="/views/dashboard">Profile</a></li>
            <li class="nav-item"><a href="/">Log Out</a></li>
          </ul>
        </nav>
      </div>

      <main class="main">
        <div class="dashboard-grid">
          <section class="info-box">
            <h2 class="sub-title">Welcome, UserName</h2>
            <p class="dashboard-text">
              The Legendary MTG Collection will help you keep track of your amazing Magic: The Gathering card collection. You can look up new cards and easily add them to your collection. Here on the
              dashboard you'll see helpful charts that display information about your collection all at a glance. If at anytime you don't want the charts please go to your profile page to edit your
              preferences.
            </p>
          </section>

          <section class="search-box">
            <h2 class="sub-title">Search For Cards</h2>
            <form id="search-form">
              <input class="input" id="card-name" type="text" placeholder="Enter Card Name" />
              <i class="fa-solid fa-magnifying-glass search-submit" id="search-btn"></i>
              <!-- <button class="search-submit" id="search-btn">Search</button> -->
            </form>

            <!-- CONTAINER FOR SEARCH RESULTS -->
            <div id="results-container" class="results-container"></div>
          </section>

          <section class="stats-box box-1">
            <h2 class="sub-title">Color Card Count</h2>
            <canvas class="colors-chart" id="colors-chart" width="400"></canvas>
          </section>
          <section class="stats-box box-2">
            <h2 class="sub-title">Card Types</h2>
            <canvas class="bar-chart" id="bar-chart" width="400"></canvas>
          </section>
          <!-- <section class="stats-box box-3"><h2 class="sub-title">Stats</h2></section> -->
        </div>
      </main>

      <!-- <footer>This is the Footer</footer> -->

      <script src="../../js/app.js" type="module"></script>
      <script src="index.js" type="module"></script>
    </div>
  </body>
</html>
