.dashboard-grid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(10px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem;
}

.info-box {
  grid-column: 1/2;
}

.search-box {
  grid-column: 3/-1;
  grid-row: 1/-1;
}

.stats-box.box-1 {
  grid-column: 2/3;
}

section {
  background-color: var(--white);
  border-radius: 10px;
  padding: 1.2rem;
}

.sub-title {
  font-size: 3.2rem;
  margin-bottom: 1.2rem;
}

@media screen and (max-width: 1025px) {
  .sub-title {
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 770px) {
  .sub-title {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 480px) {
  .sub-title {
    font-size: 2rem;
  }
}

.dashboard-text {
  font-size: 1.6rem;
  max-width: 60ch;
  line-height: 1.5;
}

.search-box {
  overflow: hidden;
}

form {
  position: relative;
  margin-bottom: 1.5rem;
}

.input {
  width: 100%;
  padding: 1rem;
}

.search-submit {
  background-color: var(--black);
  color: var(--white);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.search-submit:hover {
  background-color: var(--bg-nav);
}

.results-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.card-info-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.8rem;
}

.card-image {
  max-width: 75%;
}

.search-card-text {
  font-size: 2.4rem;
}

.results-link {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
}

.results-link:hover {
  background-color: var(--bg-nav);
}
