.dashboard-grid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(10px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem;
}

@media screen and (max-width: 480px) {
  .dashboard-grid {
    display: flex;
    flex-direction: column;
  }
}

.info-box {
  grid-column: 1/2;
}

@media screen and (max-width: 1025px) {
  .info-box {
    grid-column: 1/3;
  }
}

.search-box {
  grid-column: 3/-1;
  grid-row: 1/-1;
}

@media screen and (max-width: 1025px) {
  .search-box {
    grid-row: 1/2;
  }
}

.stats-box.box-1 {
  grid-column: 2/3;
}

@media screen and (max-width: 1025px) {
  .stats-box.box-1 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

section {
  background-color: var(--white);
  border-radius: 10px;
  padding: 1.2rem;
}

.dashboard-text {
  font-size: 1.6rem;
  max-width: 60ch;
  line-height: 1.5;
}

@media screen and (max-width: 770px) {
  .dashboard-text {
    font-size: 1.2rem;
  }
}

.search-box {
  overflow: hidden;
}

.results-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.card-info-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.8rem;
}

.card-image {
  max-width: 50%;
}

.search-card-text {
  font-size: 2.4rem;
}

@media screen and (max-width: 770px) {
  .search-card-text {
    font-size: 1.6rem;
  }
}

.results-link {
  display: block;
  width: 85%;
  text-align: center;
  font-size: 1.6rem;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.results-link:hover {
  background-color: var(--bg-nav);
}
