<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/main.css" type="text/css">
    <link rel="stylesheet" href="index.css" type="text/css">
    <title>MTG Collection</title>
</head>
<body>
    <!-- GRID FOR THE LAYOUT OF THE PAGE -->
    <div class="page-grid">

        <header class="header">
            <h1>Legendary MTG Collection</h1>
        </header>

        <div class="nav-container">
            <figure>
                <img src="../../images/logos/mtg-logo.png" alt="Magic: The Gathering Logo">
            </figure>
            <nav class="main-nav">
                <ul class="nav-list">
                <li class="nav-item"><a href="/views/dashboard/">Dashboard</a></li>
                <li class="nav-item"><a href="/views/search">Search</a></li>
                <li class="nav-item"><a href="/views/collection">Collection</a></li>
                <li class="nav-item"><a href="/views/dashboard">Profile</a></li>
                <li class="nav-item"><a href="/">Log Out</a></li>
                </ul>
            </nav>
        </div>


        <main class="main">
            <h2>search for cards</h2>
            <form>Search Form Goes Here</form>
            <div class="results-grid" id="results-container"></div>
        </main>



        <!-- <aside class="aside">
            <h2>Aside</h2>
        </aside> -->


        <script src="index.js" type="module"></script>
    </div>
</body>
</html>