.main {
    padding: 2rem;
}

/* FORM SYTLES */
form {
    max-width: 400px;
}

.results-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 275px));
    gap: 5rem;
}

.card-info-container {
    background-color: var(--white);
    border-radius: 5px;
}

.card-image {
    width: 100%;
}

.card-text {
    padding: 1.5rem;
}

.card-name {
    font-size: 1.4rem;
    margin-bottom: .5rem;
}

.card-text p {
    margin-bottom: .5rem;
    font-size: 1.4rem;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.button-container p {
    background-color: rgb(172, 9, 9);
    color: var(--white);
    padding: .5rem;
}