<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
    <link rel="stylesheet" href="../../css/main.css" type="text/css" />
    <link rel="stylesheet" href="index.css" type="text/css" />
    <script src="https://kit.fontawesome.com/af77942d5c.js" crossorigin="anonymous"></script>
    <title>MTG Collection</title>
  </head>
  <body id="search-page">
    <!-- CONFIRMATION MODAL -->
    <div class="modal hidden">
      <!-- <p class="modal-text">Are you sure you want to add <span class="modal-card-name"></span> to your collection</p>
      <div class="modal-buttons-container">
        <div class="modal-buttons">
          <button class="btn btn-yes">Yes</button>
          <button class="btn btn-no">No</button>
        </div>
      </div> -->
    </div>

    <!-- GRID FOR THE LAYOUT OF THE PAGE -->
    <div class="page-grid">
      <header class="header">
        <h1>Legendary MTG Collection</h1>
        <figure>
          <img src="../../images/logos/mtg-logo.png" alt="Magic: The Gathering Logo" />
        </figure>
      </header>

      <div class="nav-container">
        <figure>
          <img src="../../images/logos/mtg-logo.png" alt="Magic: The Gathering Logo" />
        </figure>
        <nav class="main-nav">
          <ul class="nav-list">
            <li class="nav-item"><a href="/views/dashboard/">Dashboard</a></li>
            <li class="nav-item"><a href="/views/search" id="search-link">Search</a></li>
            <li class="nav-item"><a href="/views/collection">Collection</a></li>
            <li class="nav-item"><a href="/views/dashboard">Profile</a></li>
            <li class="nav-item"><a href="/">Log Out</a></li>
          </ul>
        </nav>
      </div>

      <main class="main">
        <h2 class="sub-title">Search For Cards</h2>
        <form id="search-form">
          <input class="input" id="card-name" type="text" placeholder="Enter Card Name" />
          <i class="fa-solid fa-magnifying-glass search-submit" id="search-btn"></i>
          <!-- <button class="search-submit" id="search-btn">Search</button> -->
        </form>
        <div class="results-grid" id="results-container">
          <!-- 
          <div class="loader-wrapper">
            <div class="loader">
              <div class="face">
                <div class="circle"></div>
              </div>
              <div class="face">
                <div class="circle"></div>
              </div>
            </div>
          </div> -->
        </div>
      </main>
      <script src="../../js/app.js" type="module"></script>
      <script src="index.js" type="module"></script>
    </div>
  </body>
</html>
